# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Huge datafiles
*.nc

# Thumbnails
._*

# Files that might be created on a network volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Python bytecode
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/
*.yml
*.yaml

# IDE specific (Optional but recommended)
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
temp/